asgiref==3.6.0
atomicwrites==1.4.1
attrs==22.2.0
Automat==22.10.0
beautifulsoup4==4.12.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
colorama==0.4.6
constantly==15.1.0
coverage==7.2.7
cryptography==40.0.1
cssselect==1.2.0
distlib==0.3.6
Django==4.1.6
django-crispy-forms==1.14.0
django-widget-tweaks==1.4.12
djangorestframework==3.14.0
filelock==3.9.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
iniconfig==2.0.0
itemadapter==0.8.0
itemloaders==1.0.6
jmespath==1.0.1
lxml==4.9.2
numpy==1.24.2
packaging==23.0
pandas==2.0.0
parsel==1.7.0
platformdirs==2.6.2
pluggy==1.2.0
Protego==0.2.1
psycopg2==2.9.6
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.7
pyOpenSSL==23.1.1
pytest==7.1.2
pytest-cov==3.0.0
python-dateutil==2.8.2
python-dotenv==0.21.1
pytz==2022.7.1
queuelib==1.6.2
requests==2.28.2
requests-file==1.5.1
Scrapy==2.8.0
segno==1.5.2
service-identity==21.1.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.3
tldextract==3.4.0
tomli==2.0.1
Twisted==22.10.0
twisted-iocpsupport==1.0.3
typing_extensions==4.5.0
tzdata==2022.7
urllib3==1.26.15
validate-docbr==1.10.0
vboxapi==1.0
virtualenv==20.17.1
virtualenvwrapper-win==1.2.7
w3lib==2.1.1
zope.interface==6.0
